.background {
    display: flex;
    flex-flow: column wrap;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}


* {
    margin: 0px;
    padding: 0px;
}

.box {
    width: 333px;
    height: 333px;
    background: #feed00;
    overflow: hidden;
    border: 15px;
    border-color: black;
    text-decoration: none;
}

.name {
    text-decoration-line: none;

    border: none;
    padding: 0.75em 1.5em;
    font-size: large;
    font-family: Verdana, sans-serif;
    color: rgb(49, 47, 47);
    cursor: pointer;
}

.box data {
    text-decoration-line: none;

    border: none;
    /* padding: 0.75em 1.5em; */
    font-size: medium;
    font-family: Verdana, sans-serif;
    font-weight: lighter;
    color: rgb(49, 47, 47);
    cursor: pointer;
}

.box img {
    width: 100%;
    height: auto;
}

@supports(object-fit: cover) {
    .box img {
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }

}

.box:hover {
    background: #feed00;

}

.hide {
    display: none;
}

.box:hover+.hide {
    display: block;
    color: red;
}

/* <div class="myDIV">Hover over me.</div>
  <div class="hide">I am shown when someone hovers over the div above.</div>  */

.divimagen {
    display: inline-block;
    position: relative;
    width: 333px;
    height: 333px;
    background: #feed00;
    overflow: hidden;
    border: 15px;
    border-color: black;
    text-decoration: none;

}

.divimagen > div {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    padding: 10px;
    margin: 0;
    width: 333px;
    height: 333px;
    background: #feed00;
    overflow: hidden;
    border: 15px;
    border-color: black;
    text-decoration: none;
}

.desvanecer:hover {
    opacity: 0.25;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    transition: opacity 500ms;
}