.style {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    background-size: cover;
    background-position-y: bottom;
    background-image: url('../../img/1.png');
    font-size: x-large;
    font-style: oblique;
}

.style2 {
    display: inline-flex;
    justify-content: center;
}

.button {
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: rgb(49, 47, 47);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #ffd000;
    border-radius: 10px;
    border-color: transparent;
    margin-left: 15px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.button:hover {
    background-color: #ffdb65;
    cursor: pointer;
}