.style {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position-y: bottom;
    background-image: url('../../img/8.png');
    font-size: x-large;
    font-style: oblique;
    margin-top: 0px;
}

.container {
    background-color: rgba(255, 255, 255, 0.637);
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 400px;
    max-width: 400px;
    box-shadow: 10px 10px 20px rgba(75, 75, 75, 0.7);
}

.container div {
    margin-top: 15xp;
    margin-bottom: 15xp;
}


.container input {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: rgb(49, 47, 47);
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;
    background-color: #fff2408e;
    border-radius: 5px;
    border-color: #feed00;
}

.container label {
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: rgb(49, 47, 47);
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 5px;
}

.container p {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color: rgb(224, 0, 0);
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 5px;
    text-align: center;
}

.container select {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: rgb(49, 47, 47);
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;
    background-color: #fff2408e;
    border-radius: 5px;
    border-color: #feed00;
}

.buttonX {
    text-decoration: none;
    font-style: oblique;
    font-weight: 600;
    font-size: 15px;
    color: rgb(49, 47, 47);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #feed00d5;
    border-radius: 5px;
    border-color: transparent;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.buttonX:hover {
    background-color: rgba(228, 207, 17, 0.84);
}

.buttonCreate {
    text-decoration: none;
    font-style: oblique;
    font-weight: 600;
    font-size: 20px;
    color: rgb(49, 47, 47);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #feed00d5;
    border-radius: 5px;
    border-color: transparent;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.buttonCreate:hover {
    background-color: rgba(228, 207, 17, 0.84);
}