*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

.style {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    background-size: cover;
    background-position-y: bottom;
    background-image: url('../../img/6.png');
    font-size: x-large;
    font-style: oblique;
}



.style div {
    
    width: auto;
}

.style div {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* display: flex;
    flex-wrap: wrap; */
    justify-content: space-around;
    align-content: space-around;
    justify-items: center;
    align-items: center;
    margin-top: 0px;
    /* height: 100vh; */
    width: auto;
    height: auto;
}

.links {
    width: auto;
    text-decoration: none;
    font-style: oblique;
    font-weight: 600;
    font-size: 20px;
    color: rgb(49, 47, 47);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #feed00d5;
    border-radius: 5px;
    border-color: transparent;
    align-items: center;
    cursor: pointer;
}
.links:hover {
    background-color: rgba(228, 207, 17, 0.84);
}

.button {
    text-decoration: none;
    font-style: oblique;
    font-weight: 400;
    font-size: 20px;
    color: rgb(49, 47, 47);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #feed00d5;
    border-radius: 5px;
    border-color: transparent;
    align-items: center;
}

.button:hover {
    background-color: rgba(228, 207, 17, 0.84);
}

.input {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: rgb(49, 47, 47);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fff240;
    border-radius: 5px;
    border-color: #feed00;
}